<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<title>CASTMAG \ beta about</title>
	<meta property="og:title" content="Интернет журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />
	<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>
	<div class="wrapper">
		<p class='main'>CASTMAG</p>
		<p class='inform'>Как вы уже могли догадаться, наш проект направлен на развитие положительного отношения к созиданию, на людей, которые занимаются творчеством, будь то написание музыки, или создание ботинок. Развивая свой проект мы хотели бы привить молодёжи любовь 	к творчеству, тем людям, которые никогда и не думали окунуться в этот удивительный мир. Это поразительное чувство создания. После того, как смотришь на объект творения, а если им ещё и заинтересуются другие люди, то это просто непередаваемо.</p>
		<p class='inform' style="font-size: 30px; line-height:35px;">Так что, если вы талантливы в своём занятии, присылайте свои работы. Мы обязательно с вами свяжемся и рассмотрим дальнейшее сотрудничество. </p>
	</div>
	<div class="fader"></div>

	<script type="text/javascript" src="/javascripts/land.js"></script>	
	<style>
		body, html {
			width: 100%;
			height: 100%;
			overflow: hidden;	
			margin: 0px;
			padding: 0px;
			position: relative;
			background-size: 100%;
			background-position: top;
			background-repeat: no-repeat;
			background-color: #000;

		}
		.wrapper {
			width: 800px;
			height: 450px;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			right: 0;
			text-align: center;
			z-index: 9999;
		}
		.main {
			font-size: 200px;
			font-weight: 700;
			text-align: center;
			color: #fff;
			font-family: "Open Sans Condensed";
			text-shadow: 0 5px 0px rgba(0,0,0,.5);
			height: 210px;
			line-height: 210px;
			-webkit-margin-after: 0px;
			-webkit-margin-before: 0px;

		}
		.inform {
			color: #fff;
			font-family: "Open Sans Condensed";
			font-weight: 400;
			font-size: 20px;
		}
		.fader {
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.5);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 999;
		}
	</style>	


</body>
</html>