<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<title>CASTMAG \ beta advertise</title>
	<meta property="og:title" content="Интернет журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />
	<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ads.css">

</head>
<body>
	<div class="wrapper">
		<p class="head">Заказные статьи</p>
		<p class="head description">Являясь производителем, либо его представителем, Вы можете заказать статью о вашем деле. Заказная статья не будет иметь отличительных признаков. Предлагаемые варианты расположения статей:</p>
		<p class="head li">Блок "ХАУ ТУ" - автор описывает технологию производства</p>
		<p class="head li">Блок "Ремесло" - описание развитие и достижения имеющихся успехов</p>
		<p class="head">Рекламные блоки</p>
		<div class="wrap-blocks">
			<div class="block"><div class="inner-pic"><p class='size'>275 x 350 ~ 500</p></div></div>
			<div class="block"><div class="inner-pic"><p class='size'>135 x 175</p></div></div>
		</div>
		<div class="wrap-blocks" style="height: 170px">
			<p class="head description cont">castmag.ru@gmail.com</p>
			<p class="head description cont">8 (909) 695 27 23</p>
			<p class="head description cont"><a  style="color:#fff" href="http://vk.com/castmaghome">Менеджер вконтакте</a></p>
		</div>
	</div>
	<!-- // <script type="text/javascript" src="/javascripts/land.js"></script>	 -->
	<script type="text/javascript" src="/javascripts/land.js"></script>	

</body>
</html>