<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<title>CASTMAG \ Интернет-журнал</title>
	<meta property="og:title" content="Интернет-журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />
	<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/land.css">

</head>
<body>
	<div class="fader">
		<a href="/news">
			<div class="wrapper">
				<p class="head">CASTMAG</p>
				<p class="title">Интернет<span style="font-family:georgia">-</span>журнал о тех, кто творит</p>
			</div>
		</div>
	</a>
	<script type="text/javascript" src="/javascripts/land.js"></script>	
</body>
</html>