* {
	margin: 0px;
	padding: 0px;
}
html {
	background-image: url('bg2.png');
}
.header {
	height: 75px;
	line-height: 75px;
	width: 1100px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	background-color: #050505;
	font-weight: bold;
	letter-spacing: -0.05ex;
	text-shadow: 0 2px 0px rgba(0,0,0,.3);
	margin: 0px auto;
}
.header p {
	margin-left: 20px;
	width: 300px;
	display: inline-block;
	float: left;
	font-size: 70px;
}
form {
	width:1100px;
	min-height: 400px;
	background-color: #f9f9f9;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: 1px solid #999;
	border-top: 0px;
	display: block;
	margin: 0px auto;
	padding: 10px 20px 50px;
}
hr {
    height: 1px;
    background-color: #444;
}
p {
	font-size: 15px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: -0.05ex;
}
.btwn {
	font-size: 30px;
}
.hello {
	font-size: 40px;
	display: inline-block;
}
[class*="_in"] {
	margin: 10px 30px 10px 0px;
	width: 400px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid green;
	font-size: 20px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	padding-left: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
}
[class*="_in"]:focus {
	border: 3px solid blue;
	outline: none;
}
.poster {
	height: 40px;
	width: 100px;
	display: block;
	font-weight: bold;
	font-size: 15px;
}
.text_in {
	width: 90%;
	height: 400px;
	max-width: 98%;
	padding: 10px 5px;
	font-size: 20px;
}
.title_in {
	width: 90%;
	font-size: 30px;
	padding-left: 5px;
}
.type_in {
	font-size: 25px;
}
.url_in {
	width: 600px;
	padding-left: 5px;
	font-size: 20px;
}
.url_text_in {
	width: 600px;
	padding-left: 5px;
	font-size: 20px;
}
.top_random_text {
	margin: 10px 0px;
}
.sider {
	display: inline-block;
}
.ok {
	width: 742px;
	height: 60px;
	background-color: #8DA6E8;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	margin: 10px 0px;
	border-radius: 10px;
	border: 2px solid #6788E8;
}
.ok p{
	font-size: 40px;
	color: #000;
	font-weight: bold;
	font-family: "Open Sans Condensed";
}
.ok:hover{
	margin-top: 12px;
	margin-bottom: 8px;
}
/*//// EXAMPLES*/
.slider-all {
	width: 275px;
	height: 160px;
	background-color: #222;
	margin: 0px auto;
}
.slider-element {
	width: 275px;
	height: 160px;
	margin: 0px auto;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow: hidden;
}
.slider-element p {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	padding-top: 60px;
	position: absolute;
	top: -220px;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	-webkit-transition: all 0.3s 0.1s ease;
}
.slider-element:hover p{
	top: 0px;
	-webkit-transition: all 0.3s ease;
}
/*///////////*/
.new-min {

	width: 274px;
	margin-top: 10px;
	min-height: 200px;
	display: inline-block;
	float: left;
	cursor: pointer;
	position: relative;
}
.new-min img {
	width: 255px;
}
.new-min-content {
	margin: 10px;
	font-size: 15px/10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: normal;
	-webkit-transition: all 0.3s ease;
}
.new-min-content-header {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #000;
}
.new-min-about-slider {
	position: absolute;
	font-weight: bold;
	bottom: 30%;
	margin: 0px 20px;
	text-align:center;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
}
.img-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
}
.inliner {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	position: absolute;
	left: -260px;
	top: 0px;
	vertical-align: middle;
	display: table-cell;
}
.inliner p{
	width: 100%;
	height: 40%;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow: auto;
  	margin: auto;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	-webkit-transition: all 0.3s 0.1s ease;
}
.img-wrapper:hover .inliner{
	left: 0px;
	-webkit-transition: all 0.3s ease;
}
.img-wrapper:hover img {
	opacity: 0.4;
	-webkit-transition: all 0.3s ease;
}
img {
	opacity: 1;
	-webkit-transition: all 0.7s ease;
}
.new-min:hover img {
	opacity: 0.4;
	-webkit-transition: all 0.3s ease;
}
.new-min:hover .new-min-about-slider{
	opacity: 1;
	color: #000;
	-webkit-transition: all 0.3s ease;
}
.news       { background-color: #2ecc71;  }
.events     { background-color: #FFF473;  }
.art        { background-color: #FFA857;  }
.art-cinema { background-color: #f39c12;  }
.art-music  { background-color: #b7beff;  }
.art-design { background-color: #84D8FF;  }
.fashion    { background-color: #c0392b;  }
.features   { background-color: #9b59b6;  }
.howto      { background-color: #3498db;  }
.craft      { background-color: #F6475E;  }
.other      { background-color: #16a085;  }