table {
	font-family: "Open Sans Condensed";
	font-size: 15px;
}
table thead {
	font-weight: 700;
	font-size: 25px;
}
.change, .delete {
	display: inline-block; 
	height: 100%;
	float: left;
	outline: none;
	font-size: 18px;
	text-decoration: none;
	color: #000;
	text-shadow: 0 2px 0 rgba(255,255,255,.4);
}
.delete {
	border: 1px solid #000;
	background-color: #FF756E;
	border-left: 0px;
	text-align: center;
	width: 40%;

}
.change {
	border: 1px solid #000;
	background-color: #93FF87;
	border-right: 0px;
	text-align: center;
	width: 60%;

}
.change:hover{
	background-color: #5BFF7E;
	color: #fff;
	text-shadow: 0 2px 0 rgba(0,0,0,.4);
}
.delete:hover{
	background-color: #FF6857;
	color: #fff;
	text-shadow: 0 2px 0 rgba(0,0,0,.4);
}
.delete:hover .info {
	background-color: #FF6857;
}
.news       { background-color: #2ecc71;  }
.events     { background-color: #FFF473;  }
.art        { background-color: #2ecc71;  }
.art-cinema { background-color: #f39c12;  }
.art-music  { background-color: #F6475E;  }
.art-art    { background-color: #4A38FF;  }
.art-design { background-color: #84D8FF;  }
.fashion    { background-color: #c0392b;  }
.made       { background-color: #9b59b6;  }
.howto      { background-color: #3498db;  }
.craft      { background-color: #BA6F30;  }
.other      { background-color: #16a085;  }