* {
	text-decoration: none;
}
.header {
	height: 120px;
	line-height: 120px;
	width: 980px;
	font-size: 90px;
}
.auth {
	font-size: 50px;
}
.header p {
	width: 340px;
}
.signin {
	height: 120px;
	line-height: 120px;
	width: 330px;
}
.reg-wrapper {
	width: 330px;
	font-size: 50px;
}
.enterer {
	height: 96.666px;
	height: calc(290px/3);
	line-height: 96.666px;
	line-height: calc(290px/3);
	font-size: 45px;
}
.enterer i {
	font-size: 60px;
}
.header p:nth-child(2) {
	font-size: 23px !important;
	text-align: center;
	width: 250px;
	margin-left: 0px;
	letter-spacing: 0ex;
}
.form {
	width: 490px;
	height: 290px;
	top: 120px;
	left: -160px;
}
.signin:hover .form {
	top: 120px;
	left: -160px;
}
.slider-all {
	width: 980px;
	height: 288px;
}
.slider-all a:nth-of-type(4), .slider-all a:nth-of-type(3) {
	display: none !important;
	visibility: hidden;
} 
.slider-element {
	width: 50%;
	overflow: hidden;
}
.slider-element p {
	padding-top: 110px;
	top: -420px;
	font-size: 40px;
}
.all {
	width: 980px;
}
.content {
	width: 100%;
}
.news-block {
	width: 980px;
	margin: 0px;
	max-width: 980px;		
}
.content-full {
	width: 100%;
	border-left: 0px;
}
.sidebar {
	display: none;
}
.footer {
	width: 980px;
}
.signin:focus .form {
	top: 75px;
	display: block;
	opacity: 1;
	z-index: 100;
}
.new-min {
	width: 486px;
}
.new-min-content-header {
	font-size: 40px;
}
.new p {
	font-size: 45px;
}
.new h1 {
	font-size: 70px;
}
.new h2 {
	font-size: 55px;
}
h1.header-new {
	font-size: 60px;
}
.new hr {
	height: 4px;
}

.inliner {
	left: -485px;
}
.inliner p{
	height: 40%;
	font-size: 30px;
}
.views {
	height: 40px;
	font-size: 30px;
}
.comment_text {
	font-size: 25px;
}
.comment_photo {
	width: 120px;
	height: 120px;
}
.comment_each {
	height: 140px;
}
p.new-autor {
	font-size: 30px !important;
	height: 40px !important;
	font-weight: normal !important;
	line-height: 40px !important;
}
p.new-date {
	font-size: 30px !important;
	height: 40px !important;
	font-weight: normal !important;
	line-height: 40px !important;
}
.nouser {
	font-size: 40px !important;
}
.footer {
	height: 240px;
}
.footer .third {
	height: 80px;
	line-height: 80px;
}
.footer .text {
	font-size: 40px;
	width: 140px;
}
.footer .paddinger {
	margin: 0px 20px;
}
.footer .long {
	width: 240px;
}

/*// MENU SLIDER*/

.menu-starter {
	display: block;
	width: 980px;
	height: 150px;
	background-color: #3498db;
	text-align: center;
	position: relative;
}
.menu-starter p {
	font-family: 'Open Sans Condensed', sans-serif;
	height: 150px;
	line-height: 150px;
	color: #fff; 
	text-shadow: 0 2px 0 rgba(0,0,0,.5);
	font-size: 100px;
	font-weight: 700;
	overflow: hidden;
}
.sidebar-top {
	margin: 0px auto;
	width: 980px;
	background-color: #000;
	overflow: hidden;
	height: auto;
	z-index: 9999;
	display: none;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
}
.visible {
	visibility: visible;
	display: block;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
	opacity: 1;
}
.sidebar-top ul {
	list-style: none;
	text-align: center;
	background-color: #050505;
}
.sidebar-top li {
	/*display: inline-block;*/
	width: 100%;
	/*float: left;*/
	cursor: pointer;
	margin-bottom: 0;
	font-size: 90px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	height: 150px;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 150px;
	background-color: #050505;
}
.sidebar-top li:hover {
	background-color: #fff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}
.sidebar-top li a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}
.sidebar-top .q:hover, .sidebar-top .w:hover, .sidebar-top .e:hover, .sidebar-top .r:hover, .sidebar-top .t:hover, .sidebar-top .y:hover, .sidebar-top .u:hover, .sidebar-top .i:hover, .sidebar-top .o:hover, .sidebar-top .p:hover, .sidebar-top .a:hover, .sidebar-top .m:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.sidebar-top .q:hover { background-color: #2ecc71; }
.sidebar-top .w:hover { background-color: #FFF473; }
/*.sidebar-top .e:hover { background-color: #FFA857; }*/
.sidebar-top .e:hover { background-color: #2ecc71; }

.sidebar-top .r:hover { background-color: #f39c12; }
.sidebar-top .t:hover { background-color: #F6475E; }
.sidebar-top .y:hover { background-color: #84D8FF; }
.sidebar-top .u:hover { background-color: #c0392b; }
.sidebar-top .i:hover { background-color: #9b59b6; }
.sidebar-top .o:hover { background-color: #3498db; }
.sidebar-top .p:hover { background-color: #BA6F30; }
.sidebar-top .a:hover { background-color: #16a085; }
.sidebar-top .m:hover { background-color: #bdc3c7; }

.sidebar-top .adv {
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	display: inline-block;
}
.sidebar-top .adv img {
	width: 100%;
}
.sidebar-top .adv:nth-of-type(1) {
	margin-top: 20px;
}