* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.header {
	height: 75px;
	line-height: 75px;
	width: 1100px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 70px;
	color: #fff;
	background-color: #050505;
	font-weight: bold;
	letter-spacing: -0.05ex;
	text-shadow: 0 2px 0px rgba(0,0,0,.3);
	margin: 0px auto;
}
.header p {
	margin-left: 20px;
	width: 300px;
	display: inline-block;
	float: left;
}
.slider-all {
	width: 1100px;
	height: 160px;
	background-color: #222;
	margin: 0px auto;
}
.slider-element {
	width: 25%;
	height: 100%;
	float: left;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow: hidden;
}
.slider-element .wrap-p {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	/*padding-top: 60px;*/
	display: table;
	position: absolute;
	top: -220px;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	-webkit-transition: all 0.3s 0.1s ease;
	-moz-transition: all 0.3s 0.1s ease;
	-ms-transition: all 0.3s 0.1s ease;
}
.slider-element .wrap-p p {
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 0 5px;
}
.inner p {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.2);
	text-align: center;
	line-height: 500px;
	position: absolute;
	top: -1101px;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	-webkit-transition: all 0.2s 0.1s ease;
	-moz-transition: all 0.2s 0.1s ease;
	-ms-transition: all 0.2s 0.1s ease;
	font-family: georgia;
}
.inner:hover p{
	top: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.slider-element:hover .wrap-p{
	top: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.all {
	width: 1100px;
	margin: 0px auto;
	min-height: 600px;
	overflow: hidden;
}
.news-block {
	width: 90%;
	max-width: 1200px;
	height: 100%;
	margin: 0px auto;
}
.header-new {
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: -0.1ex;
	font-size: 30px;
	text-align: left;
	text-shadow: 0 1px 0px rgba(0,0,0,.3);
}
.new {
	margin: 20px auto 20px auto ;
	color: #000;
	font-size: 16px;
	font-family: georgia;
}
.made-block {
	width: 95%;
	box-sizing:border-box;
	box-shadow: 3px 4px 2px rgba(0,0,0,.2);
	margin: 20px auto;
	height: auto;
	overflow: hidden;
	background-color: #fff;
}
.made-block-header {
	width: 100%;
	height: auto;
	/*margin-bottom: 5px;*/
	font-family: "Open Sans Condensed";
	font-weight: 700;
	font-size: 40px;
	letter-spacing: -0.1ex;
	box-sizing: border-box;
	padding: 0px 20px !important;
	text-shadow: 0 2px 0 rgba(0,0,0,.5) !important;
	color: #fff !important;
	background-color: rgba(155, 89, 182,.6);
}
.pic {
	width: 300px;
	height: 300px;
	margin: 20px;
	background-size: cover;
}
.made-block p {
	font-family: 'Open Sans Condensed', sans-serif;
	box-sizing: border-box;
	color: #000;
}
.content {
	width: 75%;
	min-height: 600px;
	float: left;
	padding-bottom: 20px;
	display: inline-block;
	background-color: #f4f4f4;
	border-left: 1px solid #e1e1e1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.views {
	width: 100%;
	height: 20px;
	font-size: 15px;
	background-color: rgba(0,0,0,.5);
	text-align: right;
	position: absolute;
	bottom: 0px;
	padding-right: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #fff;
}
.new-news-loader {
	background-color: #f4f4f4;
	float: left;
	width: 75%;
	border-top: 2px dashed #ddd;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed';
	font-size: 33px;
	color: #222;
	text-shadow: 1px 2px 0 rgba(0,0,0,.2);
	text-align: center;
	height: 70px;
	line-height: 70px;
	font-weight: 700;
	letter-spacing: -0.1ex;
}
.news       { background-color: #2ecc71;  }
.events     { background-color: #FFF473;  }
.art        { background-color: #2ecc71;  }
.art-cinema { background-color: #f39c12;  }
.art-music  { background-color: #F6475E;  }
.art-art    { background-color: #4A38FF;  }
.art-design { background-color: #84D8FF;  }
.fashion    { background-color: #c0392b;  }
.made       { background-color: #9b59b6;  }
.howto      { background-color: #3498db;  }
.craft      { background-color: #BA6F30;  }
.other      { background-color: #16a085;  }

/*/*//*/ SLIDER MENU*/
.menu-starter {
	display: none;
}
.sidebar-top {
	display: none;
}
.made-block {
	background-size: cover;
}
.container {
	height: auto;
	overflow: hidden;
	background-position-y: -30px;
	background-size: cover;
	position: relative;
}
.level-1 {
	letter-spacing: -.05ex;
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	padding: 10px;
}
.level-1 .a, .level-1 .ab, .level-1 .abc {
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	        transform: translate(0,0);
}

.level-1 .a     { -webkit-animation: move   .5s ease; -moz-animation: move  .5s ease; animation: move  .5s ease; }
.level-1 .ab    { -webkit-animation: move   .8s ease; -moz-animation: move  .8s ease; animation: move  .8s ease; }
.level-1 .abc   { -webkit-animation: move  1.2s ease; -moz-animation: move 1.2s ease; animation: move 1.2s ease; }
.level-1 .abcd  { -webkit-animation: move  1.5s ease; -moz-animation: move 1.5s ease; animation: move 1.5s ease; }
.level-1 .abcde { -webkit-animation: move  1.8s ease; -moz-animation: move 1.8s ease; animation: move 1.8s ease; }

.appear-a { -webkit-animation: appear 1.2s ease; -moz-animation: appear 1.2s ease; animation: appear 1.2s ease;	}
.appear-b { -webkit-animation: appear 1.8s ease; -moz-animation: appear 1.8s ease; animation: appear 1.8s ease;	}
.appear-c { -webkit-animation: appear 2.8s ease; -moz-animation: appear 2.8s ease; animation: appear 2.8s ease;	}
.appear-d { -webkit-animation: appear 3.5s ease; -moz-animation: appear 3.5s ease; animation: appear 3.5s ease;	}

@keyframes move {
    0% { -webkit-transform: translate(-2000px, 0);
	        -moz-transform: translate(-2000px, 0);
	             transform: translate(-2000px, 0);
	             opacity: 0 }
    100% { -webkit-transform: translate(0, 0);
	          -moz-transform: translate(0, 0);
	               transform: translate(0, 0);
	               opacity: 1 }
}
@-webkit-keyframes move {
	0% { -webkit-transform: translate(-2000px, 0);
	        -moz-transform: translate(-2000px, 0);
	             transform: translate(-2000px, 0);
	             opacity: 0 }
	100% {  -webkit-transform: translate(0, 0);
	          -moz-transform: translate(0, 0);
	               transform: translate(0, 0);
	               opacity: 1  }
}
@keyframes appear {
	0% {  opacity: 0 }
	100% { opacity: 1 }
}
@-webkit-keyframes appear {
	0% {  opacity: 0 }
	100% { opacity: 1 }
}
.level-1 p {
	color: #fff;
}
.half {
	display: inline-block;
	float: left;
	width: 50%;
}
.level-2 {
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-family: "Open Sans Condensed";
	font-weight: 800;
	padding-left: 20px;
	background-color: rgba(0,0,0,.4);
}
.level-3 ul {
	list-style: none;
	padding: 15px 0px;
}
.level-3 ul li {
	min-height: 25px;
	line-height: 25px;
	font-family: "Open Sans Condensed";
	font-size: 20px;
	color: #fff;
	padding-left: 20px;
	font-weight: 800;
}
.level-3 {
	background-color: rgba(0,0,0,.3);
	padding-bottom: 10px;
	height: 125px;
}
.sidebar {
	min-height: 600px;
}