.sidebar {
	width: 25%;
	min-height: 300px;
	float: left;
	display: inline-block;
	background-color: #050505;
	background-position: 30px -25px;
	color: #fff;
	letter-spacing: 0.1ex;
}
.sidebar ul {
	list-style:none;
	text-align: center;
	background-color: #050505
}
.sidebar li {
	cursor: pointer;
	font-size: 50px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;

	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 60px;
}
.sidebar li:hover {
	background-color: #fff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}
.sidebar li a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}
.sidebar .q:hover, .sidebar .w:hover, .sidebar .e:hover, .sidebar .r:hover, .sidebar .t:hover, .sidebar .y:hover, .sidebar .u:hover, .sidebar .i:hover, .sidebar .o:hover, .sidebar .p:hover, .sidebar .a:hover, .sidebar .m:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.sidebar .q:hover { background-color: #2ecc71; }
.sidebar .w:hover { background-color: #FFF473; }
.sidebar .e:hover { background-color: #FFA857; }
.sidebar .r:hover { background-color: #f39c12; }
.sidebar .t:hover { background-color: #2851FF; }
.sidebar .y:hover { background-color: #84D8FF; }
.sidebar .u:hover { background-color: #c0392b; }
.sidebar .i:hover { background-color: #9b59b6; }
.sidebar .o:hover { background-color: #3498db; }
.sidebar .p:hover { background-color: #F6475E; }
.sidebar .a:hover { background-color: #16a085; }
.sidebar .m:hover { background-color: #bdc3c7; }

.sidebar .li-outer {
	background-color: transparent;
}
.sidebar .li-outer-open {
	background-color: #E8BC44;
}
.sidebar .li-inner {
	display: none;
	background-color: #000;
	font-size: 30px;
	width: 275px;
	height: 40px;
	line-height: 40px;
}
.sidebar .adv {
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	display: inline-block;
}
.sidebar .adv img {
	width: 100%;
}
.sidebar .adv:nth-of-type(1) {
	margin-top: 20px;
}